* {
  margin:0;
}
body {
  background-color: rgb(255, 255, 255);
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left{
  flex:0.9;
}
.app__header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 20px;
}
.app__header > h1 {
  color : rgb(154, 204, 220);
  font-size: 2rem;
}
h3 {
    color : rgb(154, 204, 220);
}

.new__cases {
  margin-top: 20px;
  margin-bottom: 20px;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .app {
    flex-direction: column;
  }
}


@media (max-width: 500px) {
  .app__stats {
    flex-direction: column;
  }
  .app__header{
    flex-direction: column;
  }
}
